.home{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.home-header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 30px;
}
.home-header a,.left-footer a,.right-footer a{
  text-decoration: inherit;
  margin-right: 20px;
  font-size: 15px;
  color: rgb(17, 17, 17);
}
.home-header a:hover,.left-footer a:hover,.right-footer a:hover{
  text-decoration: underline;
}

/* footer */
.home-footer{
  height: 100vh;
  margin-top: 15%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
.home-footer .footer{
  display: flex;
  justify-content: space-between;
}
.home-body img{
  width: 18%;
  margin: 20px 41%;
}
